.bg {
  &.success-color {
    background: #52c41a;
  }
  &.warning-color {
    background: #faad14;
  }
  &.danger-color {
    background: #ff4d4f;
  }
  &.error-color {
    background: #f5222d;
  }
  &.primary-color {
    background: #1890ff;
  }
}
.text {
  &.success-color {
    color: #52c41a;
  }
  &.warning-color {
    color: #faad14;
  }
  &.danger-color {
    color: #ff4d4f;
  }
  &.error-color {
    color: #f5222d;
  }
  &.primary-color {
    color: #1890ff;
  }
}
