.content {
  margin: .2rem 1rem;

  &-wrapper {
    background: #fff;
    padding: 24px;
    min-height: 360px;
  }
}

.breadcrumb {
  margin: 1rem 0;
  font-size: .8rem;
}

.ant-pagination {
  font-size: 12px;
}

.ant-select,
.ant-select-item {
  font-size: 12px;
}