.sider {
  position: fixed;
  overflow: auto;
  height: 100vh;
  left: 0;

  &__menu {
    &-icon {
      font-size: 16px !important;
    }

    &-logo {
      opacity: 1 !important;
      height: 32px;
      margin: 16px 0 !important;
      cursor: default !important;
    }
  }
}
