/***************************************
*********** custom font sizes **********
***************************************/

.font-size--05 {
  font-size: 0.5rem !important;
}
.font-size--06 {
  font-size: 0.6rem !important;
}
.font-size--07 {
  font-size: 0.7rem !important;
}
.font-size--08 {
  font-size: 0.8rem !important;
}
.font-size--09 {
  font-size: 0.9rem !important;
}
.font-size--1 {
  font-size: 1rem !important;
}
.font-size--1-1 {
  font-size: 1.1rem !important;
}
.font-size--1-2 {
  font-size: 1.2rem !important;
}
.font-size--1-3 {
  font-size: 1.3rem !important;
}
.font-size--1-4 {
  font-size: 1.4rem !important;
}
.font-size--1-5 {
  font-size: 1.5rem !important;
}
.font-size--1-6 {
  font-size: 1.6rem !important;
}
.font-size--1-7 {
  font-size: 1.7rem !important;
}
.font-size--1-8 {
  font-size: 1.8rem !important;
}
.font-size--1-9 {
  font-size: 1.9rem !important;
}
.font-size--2 {
  font-size: 2rem !important;
}

/*****************************************
  *********** custom font weights **********
  *****************************************/

.font-weight--100 {
  font-weight: 100 !important;
}
.font-weight--200 {
  font-weight: 200 !important;
}
.font-weight--300 {
  font-weight: 300 !important;
}
.font-weight--400 {
  font-weight: 400 !important;
}
.font-weight--500 {
  font-weight: 500 !important;
}
.font-weight--600 {
  font-weight: 600 !important;
}
.font-weight--700 {
  font-weight: 700 !important;
}
.font-weight--800 {
  font-weight: 800 !important;
}
.font-weight--900 {
  font-weight: 900 !important;
}
